@import "tailwindcss";

.font-q-bangla {
  font-family: "Galada", cursive, sans-serif;
  font-weight: 400;
  font-style: normal;
}


.font-bangla-light {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.font-bangla-regular {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-bangla-semibold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.font-bangla-bold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.font-bangla-extra-bold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.font-arabic-light {
  font-family: "Noto Naskh Arabic", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.font-arabic-regular {
  font-family: "Noto Naskh Arabic", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.font-arabic-semibold {
  font-family: "Noto Naskh Arabic", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.font-arabic-bold {
  font-family: "Noto Naskh Arabic", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
